<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">

        <div>

            <label for="">Id 
                <input type="text" v-model="id">
            </label>
            
            <label for="">Name
                    <input type="text" v-model="name">
                </label>

                <input type="button" value="添加" @click="add">
        </div>
        <!--注意：v-for循环的时候，key属性只能使用number获取string-->
        <!--注意：key在使用的时候，你须使用vbind属性绑定的形式指定key的值-->
        <!--在组件中，使用v-for循环的时候，或者在一些特殊情况中 ，如果v-for有问题
        必须使用v-for的同时，指定唯一的字符串/数字类型的：key值-->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox">{{item.id}}---{{item.name}}
            {{item.name}}
        </p>
    </div>


    <script>
    var vm=new Vue({
       el:'#app',
       data:{
           id:'',
           name:'',

           list:[
               {id:1,name:'李斯'},
               {id:2,name:'嬴政'},
               {id:3,name:'韩非'},
               {id:4,name:'项羽'},
           ]
       },
       methods:{
           add(){//添加方法
               this.list.push({id:this.id,name:this.name})
           }
       }
    });
    </script>
    <!--每当使用v-for循环时，key都是必须的-->
</body>
</html>